 *{

 }
 header h1 {
	font-family: 'Anton', sans-serif;
}
h2{
	font-family: 'sans-serif';
	font-size: 16px;
	padding: 0;
	line-height: 2em;
	font-weight: bold;
}
.instructions {
	font-size: 14px;
}

#scores {
	list-style-type: none;
	margin-left: 5px;
	padding: 0;
	line-height: 2em;
	font-weight: bold;
}
